@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

:root{
    --bg-color:#FFF0D1;
    --primary-color: #795757;
    --secondary-color: #664343;
    --tipo-fonte:"Fredoka", sans-serif;
}
body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--tipo-fonte);
    height: 100vh;
    margin: 0;
}
header{
    background-color: var(--primary-color);
    text-align: center;
    padding: 1px;
}
h1 {
    font-size: 2rem;
    color: var(--bg-color);
    font-weight: 700;
}
nav{

}
nav a {
    
}